{
    "check-coverage": true,
    "per-file": true,
    "lines": 0,
    "statements": 0,
    "functions": 0,
    "branches": 0,
    "include": [
        "server/src/**/*.js"
    ],
    "exclude": [
        "node_modules/**/*.js",
        "public/**/*.js"
    ],
    "reporter": [
      "lcov",
      "html",
      "text-summary",
      "text"
    ],
    "require": [
    ],
    "extension": [
      ".jsx"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./storage/coverage"
}