{
    "check-coverage": true,
    "per-file": true,
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
    ],
    "exclude": [
    ],
    "reporter": [
      "lcov",
      "html",
      "text-summary"
    ],
    "require": [
    ],
    "extension": [
      ".jsx"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./alternative"
}