/*<head>{
	name: "test.txt",
	description: "testing sql query",
	params: {
		"name" : "varchar"
	},
	availableTo: ["mysql"]
}</head>*/

-- <1:SELECT USER>
SELECT 'user1' as `username`, 'user1@github.com' as `email` UNION ALL
SELECT 'user2' as `username`, 'user2@github.com' as `email`;