<head>{
	description: "Testing sql query",
	params: {
		"name" : "varchar",
		"id" : "int",
		"list" : "%"
	},
	availableTo: ["mysql"]
}</head>

<Q i="1" label="SELECT 1">
SELECT 1 as `col1` UNION ALL
SELECT 2 as `col1`;
</Q>

<Q i="2" label="SELECT 2">
SELECT @id as `col2`;
</Q>

<Q i="3" label="SELECT 3">
SET @newName = CONCAT(@name, ' Skywalker');
SELECT @name as `col3`, @newName as `newName`;
</Q>